.absolute-center, .radialMenu, .radialMenu .btn .fa, .radialMenu .btn.trigger .line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.radialMenu {
    width: 5em;
    height: 5em;
}

.radialMenu .btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background: rgba(255,255,255, 1); */
    opacity: 0;
    z-index: -10;
    cursor: pointer;
    transition: opacity 0.6s, z-index 0.3s, transform 0.6s;
    transform: translateX(0);
}

.radialMenu .btn .fa {
    font-size: 3em;
    transition: color 0.3s;
}

.radialMenu .btn:hover .fa {
    /*color: rgba(255,255,255, 0.7);*/
    color: #6dad47;
}

.radialMenu .btn.trigger {
    opacity: 1;
    transition: transform 0.3s;
    z-index: 100;
    cursor: pointer;

}

.radialMenu .btn.trigger:hover {
    /*transform: scale(1.2);*/
}

.radialMenu .btn.trigger:hover .line {
    background-color: rgba(255, 255, 255, 0.7);
}

.radialMenu .btn.trigger:hover .line:before, .radialMenu .btn.trigger:hover .line:after {
    background-color: rgba(255, 255, 255, 0.7);
}

.radialMenu .btn.trigger .line {
    width: 60%;
    height: 6px;
    background: #fff;
    border-radius: 6px;
    transition: background-color 0.3s, opacity 0.3s;
}

.radialMenu .btn.trigger .line:before, .radialMenu .btn.trigger .line:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    background: #fff;
    border-radius: 6px;
    transition: background-color 0.3s, transform 0.3s;
}

.radialMenu .btn.trigger .line:before {
    top: -12px;
    /* changed transform-origin from 15% 100% to 0% 100% */
    transform-origin: 0% 100%;
}

.radialMenu .btn.trigger .line:after {
    top: 12px;
    /* changed transform-origin from 25% 30% to -10% -20% */
    transform-origin: -10% -20%;
}

.radialMenu .rotater {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%;
}

.radialMenu.active .btn-icon {
    opacity: 1;
    z-index: 50;
}

.radialMenu.active .trigger .line {
    height: 0px;
    top: 45%;
}

.radialMenu.active .trigger .line:before {
    transform: rotate(45deg);
    width: 110%;
}

.radialMenu.active .trigger .line:after {
    transform: rotate(-45deg);
    width: 110%;
}

/* change degree from 360 */
.rotater:nth-child(1) {
    transform: rotate(-22.5deg);
}

.radialMenu.active .rotater:nth-child(1) .btn-icon {
    /* change translateY from -10em to -7em */
    transform: translateY(-8em) rotate(22.5deg);
}

/* change degree from 360 */
.rotater:nth-child(2) {
    transform: rotate(22.5deg);
}

.radialMenu.active .rotater:nth-child(2) .btn-icon {
    /* change translateY from -10em to -7em */
    transform: translateY(-8em) rotate(-22.5deg);
}

/* change degree from 360 */
.rotater:nth-child(3) {
    transform: rotate(67.5deg);
}

.radialMenu.active .rotater:nth-child(3) .btn-icon {
    /* change translateY from -10em to -7em */
    transform: translateY(-8em) rotate(-67.5deg);
}

/* change degree from 360 */
.rotater:nth-child(4) {
    transform: rotate(112.5deg);
}

.radialMenu.active .rotater:nth-child(4) .btn-icon {
    /* change translateY from -10em to -7em */
    transform: translateY(-8em) rotate(-112.5deg);
}
.menuContainer {
    position: absolute;
    font-size: 0.6em;
    color:#fff;
    width: 1em;
    margin-left: auto;
    top: 0;
    right: 10px;
    z-index: 100;
}
.trigger.group {
    background: #375f6f;
}
.icons .btn.group {
    color: #375f6f;
    background-color: #fff;
}

.trigger.getUserInput {
    background: #27a9e3;
}
.icons .btn.getUserInput {
    color: #27a9e3;
    background-color: #fff;
}

.trigger.displayedToUser {
    background: #852b99;
}
.icons .btn.displayedToUser {
    color: #852b99;
    background-color: #fff;
}

.trigger.transferGroup {
    background: #843c0c;
}
.icons .btn.transferGroup {
    color: #843c0c;
    background-color: #fff;
}

.trigger.userInput {
    background: #1f4e79;
}
.icons .btn.userInput {
    color: #1f4e79;
    background-color: #fff;
}

.trigger.userQuestion {
    background: #27a9e3;
}
.icons .btn.userQuestion {
    color: #27a9e3;
    background-color: #fff;
}

.trigger.filterProperty {
    background: #00a09a;
}
.icons .btn.filterProperty {
    color: #00a09a;
    background-color: #fff;
}

.trigger.filterTrue {
    background: #1b8829;
}
.icons .btn.filterTrue {
    color: #1b8829;
    background-color: #fff;
}

.trigger.filterFalse {
    background: #c35959;
}
.icons .btn.filterFalse {
    color: #c35959;
    background-color: #fff;
}

.trigger.initType {
    background: #b41616;
}
.icons .btn.initType {
    color: #b41616;
    background-color: #fff;
}