@import './scss/globals';
$md-cross-fade-distance: 16px;
$md-transition-acceleration: cubic-bezier(.4, 0, 1, 1);
$md-transition-deceleration: cubic-bezier(0, 0, .2, 1);
@include react-md-everything;
@include react-md-make-custom-grid('40-16', 40px, 8px);
@include react-md-make-custom-grid('40-24', 24px, 24px);
